.listOfItems {
    flex: 1;
    background-color: rgb(212, 253, 231);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
}

.floatCont {
    padding: 20px;
}

.floatChild {
    width: 40%;
    float: left;
    padding: 20px;
    background-color: rgb(195, 212, 228);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
}

.itemDisplay {
    background-color: rgb(212, 253, 231);
}

.filterBy {
    align-items: center;
}

.filterButton {
    margin: 5px 0px;
    border: none;
    border-radius: 5px;
    border-right: 0;
    font-size: px;
    background-color: grey grey;
}

.startIItem {
    margin-top: 0px;
}

h3 {
    margin-bottom: 5px;
}