<!-- <div>
    <h4>Inventory List</h4>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let inventory of inventorys; let i = index">
            {{ inventory.title }}
        </li>
    </ul>
    <a class="badge badge-warning" href="/inventorys/{{ currentItem.id }}">
        Edit
      </a>
</div> -->


<div class="floatCont">
    <div class="floatChild">
        <h3>Inventory List</h3>
        <ul class="listOfItems">
            <li *ngFor="let inventory of inventorys; let i = index" [class.active]="i == currentItem" (click)="currentSelectedInventory(inventory, i)">
                {{ inventory.title}}
            </li>
        </ul>
    </div>
    <div class="floatChild">
        <div *ngIf="currentIndex>=0">
            <h3>Inventory Item </h3>

            <div class="itemDisplay">
                <div>
                    <label><strong>Title:</strong></label> {{ currentItem.title }}
                </div>
                <div>
                    <label><strong>Brand:</strong></label> {{ currentItem.brand }}
                </div>
                <div>
                    <label><strong>Description:</strong></label> {{ currentItem.description }}
                </div>
                <div>
                    <label><strong>Quantity:</strong></label> {{ currentItem.quantity }}
                </div>
                <div>
                    <label><strong>ID:</strong></label> {{ currentItem._id }}
                </div>
            </div>

            <a class="button" href="/inventorys/{{currentItem._id}}">
          Edit 
        </a>
        </div>

        <div *ngIf="!currentItem">
            <br />
            <h3 class="startIItem">Inventory Item </h3>
            <p>Please click on an Item...</p>
        </div>
    </div>
    <div class="floatChild">
        <h3 class="filterTitle">Filters:</h3>
        <div class="filterBy">
            <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title" />
            <div class="input-group-append">
                <button class="filterButton" type="button" (click)="searchByTitle()">
              Search By Title
            </button>
            </div>
        </div>

        <div>
            <input type="text" class="form-control" placeholder="Search by brand" [(ngModel)]="brand" />
            <div class="input-group-append">
                <button class="filterButton" type="button" (click)="getBrand()">
              Search By Brand
            </button>
            </div>
        </div>

        <div>
            <input type="text" class="form-control" placeholder="Search by description" [(ngModel)]="description" />
            <div class="input-group-append">
                <button class="filterButton" type="button" (click)="getDescription()">
                  Search By Description
                </button>
            </div>
        </div>

        <div>
            <input type="text" class="form-control" placeholder="Search by quantity" [(ngModel)]="quantity" />
            <div class="input-group-append">
                <button class="filterButton" type="button" (click)="getQuantity()">
                  Search By Quantity
                </button>
            </div>
        </div>

    </div>

</div>