<div *ngIf="currentItem" class="edit-form">
    <h4>Tutorial</h4>
    <form>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="currentItem.title" name="title" />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="currentItem.description" name="description" />
        </div>
    </form>

    <button class="badge badge-danger mr-2" (click)="deleteItem()">
      Delete
    </button>

    <button type="submit" class="badge badge-success" (click)="updateItem()">
      Update
    </button>
    <p>{{ message }}</p>
</div>

<div *ngIf="!currentItem">
    <br />
    <p>Cannot access this Tutorial...</p>
</div>